:root {
  --main-font:Roboto,sans-serif;
  --active-color:#2196F3;
  --bold-text-color:#212121;
  --grey-text-color:#757575;
}

* {
  border: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
  color: var(--bold-text-color);
  position: relative;
}

body.overflowed {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.page {
  flex: 1 1 auto;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 480px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 480px) {
  .section {
    padding: 60px 0;
  }
}

@media screen and (min-width: 480px) {
  .section {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.logo {
  font-family: Raleway,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo span {
  color: var(--active-color);
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.header {
  border-bottom: 1px solid #ECECEC;
  position: relative;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  color: black;
  margin-right: 93px;
}

@media (max-width: 768px) {
  .header__logo {
    display: flex;
    flex: 1 1 auto;
    padding: 15px 0;
  }
}

.header__menu {
  display: flex;
}

@media (min-width: 769px) {
  .header__menu {
    flex: 1 1 auto;
  }
}

@media (max-width: 768px) {
  .menu__body {
    position: fixed;
    padding: 40px;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: all 0.3s ease 0s;
    z-index: 7;
    overflow: auto;
  }
  .menu__body.is-open {
    top: 0%;
    display: flex;
    flex-direction: column;
  }
}

.menu__contacts {
  margin-top: 30px;
  margin-bottom: 64px;
}

.menu__contacts li {
  margin: 0 0 30px 0;
}

.menu__contacts li:last-child {
  margin: 0;
}

.menu__contacts li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--grey-text-color);
}

.menu__contacts li a span {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--active-color);
}

@media (max-width: 480px) {
  .menu__contacts li a span {
    font-size: 24px;
  }
}

@media (min-width: 769px) {
  .menu__contacts {
    display: none;
  }
}

.menu__socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.menu__socials li {
  display: inline-block;
  margin: 0 10px 0 0;
}

.menu__socials li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.02em;
  color: var(--active-color);
}

.menu__socials li:not(:last-child):after {
  content: '';
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin: 0 0 0 10px;
}

@media (min-width: 769px) {
  .menu__socials {
    display: none;
  }
}

.menu-burger {
  outline: none;
}

@media screen and (max-width: 769px) {
  .menu-burger {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
    fill: var(--bold-text-color);
    background-color: transparent;
    z-index: 8;
  }
  .menu-burger .icon-cross {
    display: none;
  }
  .menu-burger .icon-cross:hover, .menu-burger .icon-cross:focus {
    fill: var(--active-color);
  }
  .menu-burger .icon-menu:hover, .menu-burger .icon-menu:focus {
    fill: var(--active-color);
  }
  .menu-burger.is-open .icon-cross {
    display: block;
    width: 19px;
    height: 19px;
  }
  .menu-burger.is-open .icon-menu {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .menu-burger {
    display: none;
  }
}

.menu__list {
  display: flex;
}

@media (max-width: 768px) {
  .menu__list {
    flex-direction: column;
    flex: 1 1 auto;
  }
}

.menu__list li {
  margin: 0 0 35px 0;
}

.menu__list li:last-child {
  margin: 0px;
}

@media (min-width: 769px) {
  .menu__list {
    flex-wrap: wrap;
  }
  .menu__list li {
    margin: 0 50px 0 0;
  }
  .menu__list li:last-child {
    margin: 0px;
  }
}

.menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--bold-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: var(--active-color);
}

.menu__link.active {
  color: var(--active-color);
}

@media (min-width: 769px) {
  .menu__link.active:after {
    content: "";
    display: block;
    position: absolute;
    top: 76px;
    background: var(--active-color);
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }
}

@media (min-width: 769px) {
  .menu__link {
    position: relative;
    display: block;
    padding: 32px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
  }
}

.header__contacts {
  display: none;
}

@media (min-width: 769px) {
  .header__contacts {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .header__contacts {
    flex-direction: row;
  }
}

.contacts-header__item {
  margin: 0 0 30px 0;
}

@media (min-width: 480px) {
  .contacts-header__item {
    margin: 0 0 10px 0;
  }
}

@media (min-width: 1200px) {
  .contacts-header__item {
    margin: 0 50px 0px 0;
  }
}

.contacts-header__item:last-child {
  margin: 0px;
}

.contacts-header__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-text-color);
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-header__link span {
  padding: 0 0 0 10px;
}

.contacts-header__link:hover, .contacts-header__link:focus {
  color: var(--active-color);
  fill: var(--active-color);
}

.order {
  max-width: 1600px;
  text-align: center;
  padding: 200px 0;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.6)), url("../img/hero/bg-mobile1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .order {
    padding: 118px 0;
  }
}

@media screen and (min-resolution: 2dppx) {
  .order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.6)), url("../img/hero/bg-mobile2x.jpg");
  }
}

@media screen and (min-width: 480px) {
  .order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.6)), url("../img/hero/bg-tablet1x.jpg");
  }
}

@media screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.6)), url("../img/hero/bg-tablet2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.6)), url("../img/hero/bg-desctop1x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.6)), url("../img/hero/bg-desctop2x.jpg");
  }
}

.order__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 30px;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .order__title {
    font-size: 44px;
  }
}

.order__button {
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--active-color);
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order__button:hover {
  background-color: #188CE8;
}

.peculiarities__list {
  display: block;
}

@media (min-width: 768px) {
  .peculiarities__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.peculiarities__item {
  margin: 0 0 30px 0;
}

.peculiarities__item:last-child {
  margin: 0;
}

@media (min-width: 768px) {
  .peculiarities__item {
    width: 47.5%;
  }
  .peculiarities__item:nth-child(1) {
    margin: 0 30px 30px 0;
  }
  .peculiarities__item:nth-child(2) {
    margin: 0 0px 30px 0;
  }
  .peculiarities__item:nth-child(3) {
    margin: 0 30px 0px 0;
  }
  .peculiarities__item:nth-child(4) {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .peculiarities__item {
    width: 270px;
    margin: 0 30px 0 0;
  }
  .peculiarities__item:nth-child(n) {
    margin: 0 30px 0 0;
  }
  .peculiarities__item:last-child {
    margin: 0;
  }
}

.item-peculiarities__image {
  height: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #F5F4FA;
}

.item-peculiarities__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .item-peculiarities__title {
    text-align: center;
  }
}

.item-peculiarities__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--grey-text-color);
}

.occupation__section {
  padding: 0 0 94px 0;
  display: none;
}

@media (min-width: 1200px) {
  .occupation__section {
    display: block;
  }
}

.occupation__list {
  display: flex;
}

.occupation__item {
  position: relative;
  margin-right: 30px;
  width: 370px;
}

.occupation__item:last-child {
  margin-right: 0px;
}

.occupation__text {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.occupation__text p {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 27px 0;
}

.team__section {
  background-color: #F5F4FA;
}

.team__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .team__cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.card-team__item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.card-team__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .card-team__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .card-team__item:nth-child(2n) {
    margin-right: 0;
  }
  .card-team__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .card-team__item {
    width: calc((100% - 30px * 3) / 4);
  }
  .card-team__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.card-team__content {
  padding: 30px 32px 30px 32px;
}

.card-team__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.card-team__text {
  margin: 0 0 14px 0;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--grey-text-color);
}

.card-team__links {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-team__links:hover, .card-team__links:focus {
  fill: white;
  background-color: var(--active-color);
}

.card-team__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-team__icons li {
  margin-right: 10px;
}

.card-team__icons li:last-child {
  margin: 0;
}

.clients__links {
  fill: #AFB1B8;
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 5px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__links:hover, .clients__links:focus {
  fill: var(--active-color);
  border: 1px solid var(--active-color);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clients__list li {
  width: calc((100% - 2 * 30px) / 2);
  margin: 0 0 30px 0;
}

.clients__list li:nth-child(2n+1) {
  margin: 0 30px 30px 0;
}

.clients__list li:nth-child(5n) {
  margin: 0 30px 0 0;
}

.clients__list li:last-child {
  margin: 0;
}

@media (min-width: 768px) {
  .clients__list li {
    width: calc((100% - 3 * 30px) / 3);
    margin-right: 30px;
  }
  .clients__list li:nth-child(n-3) {
    margin-bottom: 30px;
  }
  .clients__list li:nth-child(3n) {
    margin-right: 0px;
  }
  .clients__list li:nth-child(n+4) {
    margin-bottom: 0px;
  }
}

@media (min-width: 1200px) {
  .clients__list li {
    width: calc((100% - 6 * 30px) / 6);
    margin-right: 30px;
  }
  .clients__list li:nth-child(n) {
    margin-right: 30px;
  }
  .clients__list li:last-child {
    margin-right: 0;
  }
}

.footer {
  background-color: #2F303A;
  padding: 60px 0;
}

.footer__container {
  display: block;
  text-align: center;
}

@media (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer__column {
  margin-bottom: 70px;
  text-align: center;
}

.footer__column:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .footer__column:nth-child(3) {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .footer__column {
    margin-right: 70px;
    margin-bottom: 0;
    text-align: left;
  }
  .footer__column:nth-child(3) {
    width: 570px;
  }
  .footer__column:last-child {
    margin-right: 0px;
  }
}

.footer__join {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.footer__icons {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .footer__icons {
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .footer__icons {
    justify-content: stretch;
  }
}

.footer__icons li {
  margin-right: 10px;
  border-radius: 50%;
  background-color: #43444d;
}

.footer__icons li:last-child {
  margin: 0;
}

.footer__links {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__links:hover, .footer__links:focus {
  fill: white;
  background-color: var(--active-color);
}

.footer__logo {
  display: block;
  color: white;
  margin-bottom: 20px;
}

.footer__address p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: white;
  margin-bottom: 9px;
}

.contacts-footer__item {
  margin-bottom: 9px;
}

.contacts-footer__item:last-child {
  margin-bottom: 0;
}

.contacts-footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-footer__link:hover, .contacts-footer__link:focus {
  color: var(--active-color);
}

/*=======================Footer-form===========================*/
@media (min-width: 768px) {
  .form-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .form-footer {
    display: block;
    max-width: none;
    text-align: left;
  }
}

.form-footer__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.form-footer__input {
  display: block;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  border-radius: 4px;
  background-color: transparent;
}

@media (min-width: 768px) {
  .form-footer__input {
    min-width: 450px;
  }
}

@media (min-width: 1200px) {
  .form-footer__input {
    width: 358px;
    display: flex;
    align-items: center;
    min-width: 0;
  }
}

.form-footer__form {
  display: block;
  text-align: center;
  width: 100%;
}

@media (min-width: 1200px) {
  .form-footer__form {
    display: flex;
  }
}

.form-footer__button {
  margin-top: 20px;
  cursor: pointer;
  background-color: var(--active-color);
  margin-left: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .form-footer__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }
}

.form-footer__button span {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 100;
}

.backdrop.is-hidden .backdrop__modal {
  transform: scale(0);
}

.backdrop__modal {
  position: absolute;
  width: 95%;
  height: 609px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: 0 -100%;
}

@media (max-width: 768px) {
  .backdrop__modal {
    top: 63%;
  }
}

@media (min-width: 480px) {
  .backdrop__modal {
    width: 450px;
    height: 609px;
  }
}

@media (min-width: 1200px) {
  .backdrop__modal {
    width: 528px;
    height: 581px;
    max-width: none;
    max-height: none;
  }
}

.backdrop__close {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #fff;
}

.backdrop__close svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__close:hover svg {
  fill: var(--active-color);
}

.modal {
  padding: 40px;
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__item {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

.modal__lable {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .modal__input {
    width: 448px;
  }
}

.modal__input:focus {
  border: 1px solid #2196F3;
}

.modal__input:focus ~ .modal__icon {
  fill: #2196F3;
}

.modal__icon {
  fill: #212121;
  position: absolute;
  top: 50%;
  left: 3%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  margin-bottom: 20px;
}

.comment__label {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.comment__input {
  padding: 12px 16px;
  min-width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

@media (min-width: 1200px) {
  .comment__input {
    min-width: 100%;
  }
}

.comment__input:focus {
  border: 1px solid #2196F3;
}

.modal__agreement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__checkbox:checked + .checkbox__icon {
  border-color: transparent;
  background-color: var(--active-color);
  background-image: url(../img/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 5px;
  border: 2px solid #212121;
  border-radius: 3px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__link {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196F3;
}

@media (min-width: 1200px) {
  .modal__link {
    font-size: 14px;
  }
}

.modal__text {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

@media (min-width: 1200px) {
  .modal__text {
    font-size: 14px;
  }
}

.modal__send {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__button {
  padding: 10px 55px;
  cursor: pointer;
  background-color: var(--active-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover, .modal__button:focus {
  background-color: #188CE8;
}

.filter__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .filter__list {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 45px;
  }
}

.filter__item {
  margin-right: 8px;
}

.filter__item:last-child {
  margin-right: 0px;
}

@media (max-width: 768px) {
  .filter__item {
    margin-bottom: 15px;
  }
}

.filter__item button {
  height: 38px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #F5F4FA;
  border-radius: 4px;
  padding: 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__item button:hover {
  background-color: var(--active-color);
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__item.active button {
  color: white;
  background-color: var(--active-color);
}

.portfolio__cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

@media (max-width: 768px) {
  .portfolio__cards {
    justify-content: center;
  }
}

.portfolio__card {
  margin-bottom: 30px;
}

.portfolio__card:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .portfolio__card {
    width: calc((100% - 2 * 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio__card:nth-child(2n) {
    margin-right: 0;
  }
  .portfolio__card:last-child {
    margin-bottom: 0px;
    margin-right: 0px;
  }
}

@media (min-width: 1200px) {
  .portfolio__card {
    width: calc((100% - 3 * 30px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio__card:nth-child(2n) {
    margin-right: 30px;
  }
  .portfolio__card:nth-child(3) {
    margin-right: 0;
  }
  .portfolio__card:nth-child(6) {
    margin-right: 0;
  }
  .portfolio__card:nth-child(9) {
    margin-right: 0;
  }
  .portfolio__card:nth-child(n+7) {
    margin-bottom: 0;
  }
}

.card-portfolio__content {
  flex: 1 1 auto;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  padding: 20px 24px;
}

.card-portfolio__image {
  position: relative;
  overflow: hidden;
}

.card-portfolio__hover {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 110%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-portfolio__hover p {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.card-portfolio__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-portfolio__link:hover, .card-portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-portfolio__link:hover .card-portfolio__hover, .card-portfolio__link:focus .card-portfolio__hover {
  transform: translate(0, 0%);
}

.card-portfolio__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--bold-text-color);
  margin-bottom: 4px;
}

.card-portfolio__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--grey-text-color);
}
/*# sourceMappingURL=main.css.map */